*{
    margin:0;
    padding:10;
    box-sizing:border-box;
}

@font-face {
  font-family: "Avapore";
  src: local("Avapore"),
    url("Avapore.otf") format("opentype") tech(color-COLRv1), url("Avapore.otf")
      format("opentype"), url("Avapore.woff") format("woff");
}

body{
    min-height:100vh;
    display:grid;
    place-content:center;
    font-family:'Avapore';
    color:#C0C0C0;
}

form{
    width:90vw;
    max-width:768px;
    border:1px solid #ddd;
    padding:3vw;
    display:flex;
    flex-direction:column;
    border-radius:5px;
}

label{
    margin-bottom:15px;
    position:relative;
    border-bottom:1px solid #ddd;
}

input{
    
    width:50%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    outline:none;
}

input::placeholder{
    opacity:0;
}
span{
    position:absolute;
    top:0;
    left:0;
    transform:translateY(30px);
    font-size: 15px;
    
    transition-duration:300ms;
}

button{
    padding:15px 0px; 
    margin-top:20px;
    background:black;
    color:#fff;
    border:1px solid white;
    cursor:pointer;
    border-radius:3px;
}

label:focus-within > span,
input:not(:placeholder-shown) + span{
    color:white;
    transform:translateY(0px);
}